.form {
    display: flex;
    flex-direction: column;
    width: 22rem;
}

.form__input {
    margin-bottom: 1.5rem;
}

.form__button {
    align-self: flex-end;
}

.form__error {
    margin-top: 0.5rem;
}

.form__error--attached {
    margin-top: 0;
}