.form {
    display: flex;
    flex-direction: column;
    width: 22rem;
}

.form__input {
    position: relative;
    margin-bottom: 1.5rem;
}

.form__button {
    align-self: flex-end;
}

.form__error {
    margin-top: 0.5rem;
}

.form__error--attached {
    margin-top: 0;
}

.form__error--right {
    position: absolute;
    left: 100%;
    margin-left: 1rem;
    top: 1rem;
    width: 9rem;
}