* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* COLORS - Neutrals */
    --grey-050: #F0F4F8;
    --grey-100: #D9E2EC;
    --grey-200: #BCCCDC;
    --grey-300: #9FB3C8;
    --grey-400: #829AB1;
    --grey-500: #627D98;
    --grey-600: #486581;
    --grey-700: #334E68;
    --grey-800: #243B53;
    --grey-900: #102A43;

    /* Spacing and Sizing System */
    --w-1: 4px;
    --w-2: 8px;
    --w-3: 12px;
    --w-4: 16px;
    --w-5: 24px;
    --w-6: 32px;
    --w-7: 48px;
    --w-8: 64px;
    --w-9: 96px;
    --w-10: 128px;
    --w-11: 192px;
    --w-12: 256px;
    --w-13: 384px;
    --w-14: 512px;
    --w-15: 640px;
    --w-16: 768px;
}

body {
    padding: 30px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;

    color: var(--grey-900);
    background-color: var(--grey-050);
}

.breadcrumbs {
    width: fit-content;
    border: 1px solid var(--grey-200);
    border-radius: 8px;;
    overflow: hidden;
}


.breadcrumb__item {
    position: relative;
    float: left;
    padding: 12px 0 12px 48px;

    background-color: white;
}

.breadcrumb__item::after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -50px;
    border-left: 30px solid white;
    border-bottom: 50px solid transparent;
    border-top: 50px solid transparent;
    z-index: 2;
}

.breadcrumb__item::before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    border-left: 30px solid var(--grey-200);
    border-bottom: 50px solid transparent;
    border-top: 50px solid transparent;
    z-index: 1;
}

.breadcrumb__item:first-of-type {
    padding-left: 24px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.breadcrumb__item:last-of-type {
    padding-right: 24px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.breadcrumb__item:last-of-type::before {
    border: 0;
}

.breadcrumb__item:last-of-type::after {
    border: 0;
}

.breadcrumb__item--active {
    background-color: var(--grey-100);
}

.breadcrumb__item--active::after {
    border-left: 30px solid var(--grey-100);
}